<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <form action="/book" method="post" class="form">
        ISBN: <input name="isbn">
        <br />
        Title: <input name="title">
        <br />
        Author: <input name="author">
        <br />
        <button type="submit" class="btn btn-success">Send</button>
    </form>
</body>
</html>